{% extends "./base.html" %}
{% block content %}

	<div class="uk-panel uk-panel-box uk-container-center uk-text-left" style="width: 600px;">

	{% if authenticated %}
		<p style="font-size: 32px;">您已经以 '{{ username }}' 登录. 您现在可以:</p>
		<div style="padding-top: 20px; padding-left: 20px;">
		<ul class="uk-list uk-list-space" style="font-size: 32px; line-height: 150%;">
			<li><a href="/chinesestory/createnotice">创建新的故事会通知</a></li>
			<li><a href="/chinesestory/viewregistration">查看当前报名情况</a></li>
			<li><a href="/chinesestory/logout">退出登录</a></li>
		</ul>
		</div>
	{% else %}
	<p>{{ errmsg }}</p>
		<form class="uk-form uk-form-stacked" method="post" style="font-size: 30px; line-height: 120%">
			{% csrf_token %}
			<div class="uk-form-row">
				<label class="uk-form-label">用户名：</label>
				<div class="uk-form-controls">
					<input name="username" type="text" required placeholder="" style="height: 45px; line-height: 150%">
				</div>
			</div>
			<div class="uk-form-row">
				<label class="uk-form-label">密 码：</label>
				<div class="uk-form-controls">
					<input name="password" type="password" required placeholder="" style="height: 45px; line-height: 150%">
				</div>
			</div>
			<div class="uk-form-row">
				<button name="adminlogin" class="uk-button uk-button-primary" style="width: 180px; height: 60px; font-size: 30px;">登 录</button>
			</div>
		</form>
	{% endif  %}
	
	</div>

{% endblock %}
