<html>
<head>
	<title>{{ title }}</title>
	{% load static %}
	<link ref="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="{% static 'uikit.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'datepicker.css' %}"/>
	<script src="{% static 'jquery-3.1.1.js' %}"></script>
	<script src="{% static 'uikit.js' %}"></script>
	<script src="{% static 'datepicker.js' %}"></script>
	<script src="{% static 'autocomplete.js' %}"></script>
	<script src="{% static 'timepicker.js' %}"></script>
</head>
<body class="">
	<div class="uk-container uk-container-center uk-text-center uk-margin-top">
		<div class="uk-block uk-box-large uk-vertical-align" style="height: 260px; background-color: rgba(0, 0, 255, 0.3)">
			<div class="uk-vertical-align-middle">
			<p style="font-size: 45px">中文故事会 {{ district_name }}</p>
			</div>
		</div>
		<div class="uk-panel uk-text-center" style="background-color: rgba(128, 128,128, 0.2); padding-top: 40px; padding-bottom: 40px;">
			<p style="font-size: 38px"> {{ heading }} </p>
		</div>
		<div class="uk-panel" style="background-color: rgba(128, 128,128, 0.2)">
		{% block content %}	
		{% endblock %}
		</div>
		<div class="uk-panel uk-text-center" style="background-color: rgba(128, 128,128, 0.2); padding-top: 80px; padding-bottom: 20px;">
			<p style="font-size: 18px">&copy; 2017</p>
		</div>

	</div>
</body>
</html>
