{% extends "./base.html" %}
{% block content %}

	<div class="uk-panel uk-panel-box uk-container-center uk-text-left" style="width: 600px;">
		<div style="padding-top: 20px; padding-left: 20px;">
			<ul class="uk-list uk-list-space" style="font-size: 32px; line-height: 180%;">
				<li><a href="/chinesestory/brossard">Brossard地区故事会通知及报名</a></li>
				<li><a href="/chinesestory/longueuil">Longueuil地区故事会通知及报名</a></li>
				<li><a href="/chinesestory/montreal">Montreal地区故事会通知及报名</a></li>
			</ul>
		</div>

	</div>
{% endblock %}


