{% extends "./base.html" %}
{% block content %}

	<div class="uk-panel uk-panel-box uk-container-center uk-text-left" style="width: 700px; padding: 40px;">

	<form class="uk-form uk-form-stacked" method="post" action="" enctype="multipart/form-data" style="font-size: 30px; line-height: 150%">
		{% csrf_token %}
		<div class="uk-form-row uk-margin-top">
			<label class="uk-form-label">故事会主题</label>
			<input name="gathering_topic" type="text" size="52" maxlength="40" value="{{ gathering_topic }}" required style="height: 45px; line-height: 150%;">
		</div>

		<div class="uk-grid">
			<div class="uk-width-1-2">
				<div class="uk-form-row uk-margin-top">
					<label class="uk-form-label">主持人</label>
					<input name="gathering_moderator" type="text" value="{{ gathering_moderator }}" style="height: 45px; line-height: 150%;">
				</div>
			</div>
			<div class="uk-width-1-2">
				<div class="uk-form-row uk-margin-top">
					<label class="uk-form-label">最大参与人数（儿童）</label>
					<input name="max_groupsize" type="text" value="{{ max_groupsize }}" required style="height: 45px; line-height: 150%;">
				</div>
			</div>
		</div>

		<div class="uk-form-row uk-margin-top">
			<label class="uk-form-label">故事会日期</label>
			<input name="gathering_date" type="text" value="{{ gathering_date }}" data-uk-datepicker="{format:'YYYY-MM-DD'}" required style="height: 45px; line-height: 150%;">
		</div>

		<div class="uk-grid">
			<div class="uk-width-1-2">
				<div class="uk-form-row uk-margin-top">
					<label class="uk-form-label">开始时间</label>
					<input name="gathering_starttime" type="text" value="{{ gathering_starttime }}" data-uk-timepicker="{format:'12h'}" required style="height: 45px; line-height: 150%;">
				</div>
			</div>
			<div class="uk-width-1-2">
				<div class="uk-form-row uk-margin-top">
					<label class="uk-form-label">结束时间</label>
					<input name="gathering_endtime" type="text" value="{{ gathering_endtime }}" data-uk-timepicker="{format:'12h'}" required style="height: 45px; line-height: 150%;">
				</div>
			</div>
		</div>

		<div class="uk-form-row uk-margin-top">
			<label class="uk-form-label">故事会地点</label>
			<input name="gathering_place" type="text" size="52" maxlength="50" value="{{ gathering_place }}" style="height: 45px; line-height: 150%;">
		</div>
		<div class="uk-form-row uk-margin-top">
			<label class="uk-form-label">地址</label>
			<input name="gathering_address" type="text" size="52" maxlength="50" value="{{ gathering_address }}" style="height: 45px; line-height: 150%;">
		</div>
		
		<div class="uk-grid">
			<div class="uk-width-1-2 uk-margin-top">
				<div class="uk-form-row" style="padding-top: 60px;">
					<label class="uk-form-label">报名启动日期</label>
					<input name="registration_date" type="text" value="{{ registration_date }}" data-uk-datepicker="{format:'YYYY-MM-DD'}" required style="height: 45px; line-height: 150%;">
				</div>
			</div>
			<div class="uk-width-1-2">
				<div class="uk-form-row uk-margin-top" style="padding-top: 60px;">
					<label class="uk-form-label">时间</label>
					<input name="registration_time" type="text" value="{{ registration_time }}" data-uk-timepicker="{format:'12h'}" required style="height: 45px; line-height: 150%;">
				</div>
			</div>
		</div>
		<div class="uk-form-row uk-margin-top">
			<label class="uk-form-label">故事会活动 1</label>
			<textarea name="activity_1" cols="50" rows="10" style="height: 245px; line-height: 150%;">{{ activity_1 }}</textarea>
			<div class="uk-form-file">
				<p>请输入活动1相关图片（如绘本封面）</p>
				<input name="activity_1_img" type="file">
			</div>
		</div>
		<div class="uk-form-row uk-margin-top">
			<label class="uk-form-label">故事会activity 2</label>
			<textarea name="activity_2" cols="50" rows="10" style="height: 245px; line-height: 150%;">{{ activity_2 }}</textarea>
			<p>请输入活动2相关图片（如绘本封面）</p>
			<input name="activity_2_img" type="file">
		</div>
		<div class="uk-form-row uk-margin-top">
			<label class="uk-form-label">故事会活动 3</label>
			<textarea name="activity_3" cols="50" rows="10" style="height: 245px; line-height: 150%;">{{ activity_3 }}</textarea>
			<p>请输入活动3相关图片（如绘本封面）</p>
			<input name="activity_3_img" type="file">
		</div>
		<div class="uk-form-row uk-margin-top">
			<label class="uk-form-label">故事会活动 4</label>
			<textarea name="activity_4" cols="50" rows="10" style="height: 245px; line-height: 150%;">{{ activity_4 }}</textarea>
			<p>请输入活动4相关图片（如绘本封面）</p>
			<input name="activity_4_img" type="file">
		</div>
		<div class="uk-form-row uk-margin-top">
			<label class="uk-form-label">故事会活动 5</label>
			<textarea name="activity_5" cols="50" rows="10" style="height: 245px; line-height: 150%;">{{ activity_5 }}</textarea>
			<p>请输入活动5相关图片（如绘本封面）</p>
			<input name="activity_5_img" type="file">
		</div>
		<div class="uk-form-row uk-margin-top">
			<label class="uk-form-label">故事会活动 6</label>
			<p>请输入活动6相关图片（如绘本封面）</p>
			<input name="activity_6_img" type="file">
		</div>






	
		<div class="uk-form-row uk-text-center" style="padding-top: 100px">
			<button name="previewnotice" class="uk-button uk-button-primary" style="width: 220px; height: 60px; font-size: 30px;">预览通知</button>
		</div>


	</form>		
	
	</div>

{% endblock %}
