{% extends "./base.html" %}
{% block content %}
	
	<div class="uk-panel uk-container-center uk-text-left">
	{% if isactive %}
		<p style="font-size: 30px; line-height: 120%">Next Brossard Story Time will be held on {{ gathering_date }}, from {{ gathering_starttime }} to {{ gathering_endtime }}. The venue will be:</p>
		<p style="font-size: 24px; line-height: 120%">Venue: {{ gathering_place }} </br>
		Address: {{ gathering_address }} </p>
		<p style="font-size: 30px; line-height: 120%">The topic is {{ gathering_topic }} and The moderator is {{ gathering_moderator }}.</p>
		<p style="font-size: 30px; line-height: 120%">The maximum group size is {{ max_groupsize }}. If the registration number exceeds this limit new registration will not be accepted. The start time of registration is
{{ registration_date }}, {{ registration_time }}. You can only register after this time.</p>
		<p style="font-size: 30px; line-height: 120%">There are currently {{ num_registration }} registrations. The list of attendees:</p>
		<ur class="uk-list" style="font-size: 26px; line-height: 120%">
			<li> name1 </li>
			<li> name2 </li>
			<li> name3 </li>
		</ur>
		<div class="uk-panel uk-margin-top uk-text-center">
			<button class="uk-button uk-button-large"><a href="#" style="font-size: 26px">I want to attend</a></button>
		</div>
	{% else %}
		<p> {{ errmsg }}</p>
	{% endif %}
	{% if isadmin %}
	<div class="uk-panel uk-container-center uk-text-center" style="width:480px">
		<form class="uk-form" method="post">
		{% csrf_token %}
		<button name="publishnotice" class="uk-button uk-button-primary">Publish</button>
		<button name="modifynotice" class="uk-button uk-button-primary">Modify</button>
		</form>
	</div>
	{% endif %}
{% endblock %}
