{% extends "./base.html" %}
{% block content %}
	<div class="uk-panel uk-panel-box uk-container-center uk-text-left" style="width: 700px; padding: 40px;">
	<form class="uk-form uk-form-stacked" method="post" action="" style="font-size: 30px; line-height: 150%;">
		{% csrf_token %}
		<div class="uk-form-row">
			<label class="uk-form-label">家长名</label>
			<input name="parent_name" type="text" style="height: 45px; line-height: 150%;">
		</div>
		<div class="uk-form-row">
			<label class="uk-form-label">儿童数量</label>
			<select name="num_of_children" style="height: 45px; line-height: 150%;">
				<option selected>1</option>
				<option>2</option>
				<option>3</option>
			</select>
		</div>

		<div class="uk-form-row">
			<label class="uk-form-label">儿童1名</label>
			<input name="child_name_1" type="text" style="height: 45px; line-height: 150%;">
		</div>


		<div class="uk-form-row">
			<label class="uk-form-label">儿童2名</label>
			<input name="child_name_2" type="text" style="height: 45px; line-height: 150%;">
		</div>


		<div class="uk-form-row">
			<label class="uk-form-label">儿童3名</label>
			<input name="child_name_3" type="text" style="height: 45px; line-height: 150%;">
		</div>

		<div class="uk-form-row">
			<button name="registerme" class="uk-button uk-button-primary" style="font-size: 30px; width: 200px; height: 50px">报名</button>
		</div>


	</form>	
	
	</div>
{% endblock %}
