{% extends "./base.html" %}
{% block content %}

	<div class="uk-panel uk-panel-box uk-container-center uk-text-left" style="width: 700px">
	{% if authenticated %}
		{% if viewcurrent %}
		<p style="font-size: 30px">当前报名情况 ( {{ gathering_date }})</p>
		<p style="font-size: 26px">共有 {{ registration_count }} 名儿童报名。名单如下：</p>		
		<ul class="uk-list" style="font-size: 26px; line-height: 38px;">
			{% for reg in registration_list %}
				<li>{{ reg.parent_name }} ( {{ reg.num_of_children }} ): {{ reg.child_name_1 }}, {{ reg.child_name_2 }}, {{ reg.child_name_3 }} </li>
			{% endfor %}
		</ul>
		{% endif %}

		{% if viewhistory %}
		<p style="font-size: 30px">历史故事会记录 ( {{ gathering_date }})</p>
		<table class="uk-table" style="font-size: 20px">
			<tr><td>主题</td><td>{{ history_notice.gathering_topic }}</td></tr>
			<tr><td>主持人</td><td>{{ history_notice.gathering_moderator }}</td></tr>
			<tr><td>地点</td><td>{{ history_notice.gathering_place }}</td></tr>
			<tr><td>时间</td><td>{{ history_notice.gathering_starttime }} -- {{ history_notice.gathering_endtime }}</td></tr>
			<tr><td>最大人数</td><td>{{ history_notice.max_groupsize }}</td></tr>
			{% for activity in history_notice.activity_list %}
				<tr><td>{{activity.activity_name}}</td><td>{{ activity.activity_info}}</td></tr>
			{% endfor %}	
			
		</table>

		<hr>
		<p style="font-size: 26px">共有 {{ registration_count }} 名儿童报名。名单如下：</p>		
		<ul class="uk-list" style="font-size: 26px; line-height: 38px;">
			{% for reg in registration_list %}
				<li>{{ reg.parent_name }} ( {{ reg.num_of_children }} ): {{ reg.child_name_1 }}, {{ reg.child_name_2 }}, {{ reg.child_name_3 }} </li>
			{% endfor %}
		</ul>
		{% endif %}


		<form class="uk-form uk-form-stacked" method="get">
		{% for history_file in history_list %}	
			<div class="uk-form-row">
				<button name="history_time" value={{ history_file }} type="submit" style="font-size: 26px; background: transparent; border: 0px; color: blue; cursor: pointer;">{{ history_file }}</button>
			</div>
		{% endfor %}
		</form>
	
	{% else %}
		{{ errmsg }}
	{% endif %}
	</div>

{% endblock %}
